.btn {
  display: flex;
  padding: 1em 1.9em;
  border-radius: 0.8em;
  border: none;
  background-color: hsla(236, 100%, 63%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(231, 65%, 58%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(224, 91%, 36%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(217, 61%, 35%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(231, 54%, 29%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(222, 50%, 28%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(241, 63%, 35%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(237, 65%, 17%, 1) 0px, transparent 50%);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
