.navBar{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navBar nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar img{
    display: flex;
    margin-left: -12em;
}

.navBar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin: 0 19em 0 18em;
}

.btnNaoSelecionado{
    display: flex;
    text-decoration: none;
    color: black;
}

.btnSelecionado{
    color: rgb(66, 79, 255);
    text-decoration: none;
}

.navBar a {
    text-decoration: none;
}

.btnNavBar {
    display: flex;
    align-items: center;
    margin-right: -10em;
}